#footer
  .container
    #info
      %p.logo
        %a{href:"http://www.i3p.it/en", target:"_blank"}
          %span.txt
            powered by
          %span.logo
      %p.contacts ITALIA STARTUP VISA COMMITEE - <a href="mailto:info.italiastartupvisa@mise.gov.it?subject=APPLICATION ISV FIRST NAME: John LAST NAME: Smith">info.italiastartupvisa@mise.gov.it</a> - +39 06 47052503
      %p.credits
        %a{href:"/credits.html"}
          Credits