#header
  .container
    #menu
      .landing-menu
        %a{href:"#"}
          %span.logo-mise
          %span.txt
            MISE

      .side-menu
        %a.m-pikabu-nav-toggle{"data-role" => "right"}
    #menu-wide
      .landing-menu

        .topbox
          %a{href:"http://www.sviluppoeconomico.gov.it/index.php?option=com_content&view=article&viewType=0&id=2018655&idarea1=1665&idarea2=1667&idarea3=0&idarea4=0&andor=AND&sectionid=0&andorcat=AND&partebassaType=0&idareaCalendario1=0&MvediT=1&showMenu=1&showCat=1&showArchiveNewsBotton=0&idmenu=2297&cattitle1=Contents"}
            %span.logo-mise
            %span.txt
              Ministry of Economic Development
        .topbox.last
          %a{href:"http://www.esteri.it/mae/en"}
            %span.logo-mise
            %span.txt
              Ministry of Foreign Affairs

      .side-menu
        %a{href:"/about.html"}
          ABOUT
        %a{href:"/faq.html"}
          FAQ
    #menu-top
      #topbox0
        %a{href:"/#landing-section",:"data-menuanchor"=>"landing-section"}
          .icon

      #topbox1.topbox
        %a{href:"/#10reasons-section",:"data-menuanchor"=>"10reasons-section"}
          .icon
          %h3
            Why Italy
      #topbox2.topbox
        %a{href:"/#processes-section",:"data-menuanchor"=>"processes-section"}
          .icon
          %h3
            Application process
      #topbox3.topbox
        %a{href:"/filingcabinet.html"}
          .icon
          %h3
            Filing cabinet
      #topbox4.topbox
        %a{href:"/map.php" }
          .icon
          %h3
            Ecosystem map
      .side-menu
        %a{href:"/about.html"}
          ABOUT
        %a{href:"/faq.html"}
          FAQ