#landing.section
  .container
    %span.plant
    %h1#maintitle Italia Startup Visa
    %h2#mainsubtitle The Italian Government policy to attract innovative </ br> entrepreneurs from all over the world
    .line
    %h3#mainslogan Set up your innovative company in Italy and enjoy our groundbreaking <a href="http://www.mise.gov.it/images/stories/documenti/Executive-Summary-of-Italy's-new-policy-on-start-ups.pdf" target="_blank">Startup Law!</a>

    #menu1
      %a.menu1{href:"#"}
        .hider
          .scroller
            = image_tag 'visual_icon-reasons.png', class: "icon"

            %h3.iconsubtitle
              10 reasons
            %p
              Why Italy is the country where you should set up your startup
            %span.arrow
    #menu2
      %a.menu2{href:"#"}
        .hider
          .scroller
            = image_tag 'visual_icon-process.png', class: "icon"
            %h3.iconsubtitle
              application process
            %p
              How to get  the startup Visa in 4 quick steps
            %span.arrow
    #menu3
      %a.menu3{href:"#"}
        .hider
          .scroller
            = image_tag 'visual_icon-storage.png', class: "icon"
            %h3.iconsubtitle
              Filing cabinet
            %p
              Here you can find all the documents necessary for the application process and the Italian startup policy
            %span.arrow
    #menu4
      %a.menu4{href:"/map.php"}
        .hider
          .scroller
            = image_tag 'visual3_ecosystem-icon.png', class: "icon"
            %h3.iconsubtitle
              ecosystem map
            %p
              See how innovative startups and certified incubators are scattered through Italy
            %span.arrow