#processes.section
  .container
    %p#or
      or
    %a.first{href:"/#direct-application-section"}
      .box
        %h2.responsive-headline Direct Application
        .line
        %p
          How to send your documents to the Italian Ministry of Economic Development’s Committee to get your Italia Startup Visa.
        %span.arrow
    %a{href:"/#certified-incubator-section"}
      .box
        %h2.responsive-headline Through Certified Incubator
        .line
        %p
          How to get your Italia Startup Visa in case you are already backed by a certified incubator in Italy
        %span.arrow