#processb.section
  .slides-menu
    .container
      .fullPage-slidesNav.top
        %ul
          %li
            %a{href: "#"}
              %span
          %li
            %a{href: "#"}
              %span
          %li
            %a{href: "#"}
              %span
          %li
            %a{href: "#"}
              %span

      .controlArrow.prev
      .controlArrow.next
  #processa0.slide
    .container
      %h2
        STEP 1
        %span through Certified Incubator
      .line
      %h3.subtitle
        At home
      .spacer
        .box
          %h3
            %span.docs-icon
            %span.txt You need ...
          %ul
            %li
              %a{href:"/pdf/Undertaking by incubator.doc"}
                Undertaking by incubator to host startup

            %li
              %a{href:"/pdf/Cover letter.doc"}
                Cover letter 
              for proof of financial resources and attached files
 
        .box
          %h3
            %span.paperplane-icon
            %span.txt Send to ...
          %p
            ISV Committee (<a href="mailto:italiastartupvisa@mise.gov.it?subject=APPLICATION ISV FIRST NAME: John LAST NAME: Smith">italiastartupvisa@mise.gov.it</a>)
          %p
            with the following subject:<br />
            APPLICATION ISV FIRST NAME: John LAST NAME: Smith
        .box
          %h3
            %span.mailbox-icon
            %span.txt Obtain ...
          %ul
            %li
              (Within 30 days) <a href="/pdf/Facsimile Certificate.pdf">Certificate of no impediment for ISV (startup backed by incubator)</a> including provisional police certificate of no impediment for entry purposes  

  #processa1.slide
    .container
      %h2
        STEP 2
        %span through Certified Incubator
      .line
      %h3.subtitle
        You go to the competent Embassy or Consulate
      .spacer
        .box
          %h3
            %span.docs-icon
            %span.txt You need ...
          %ul
            %li
              <a href="/pdf/Facsimile Certificate.pdf">Certificate of no impediment for ISV (startup backed by incubator)</a> including provisional police certificate of no impediment for entry purposes

            %li
              Certificate of suitable accommodation in Italy (i.e. hotel booking)
            %li
              Certificate of minimum income for previous year (i.e. income tax return)
            %li
              Copy of submitted Application form for ISV
            %li
              Copy of submitted Cover letter for proof of financial resources and attached files 
            %li
              Passport

        .box
          %h3
            %span.paperplane-icon
            %span.txt Send to ...
          %p
            Competent embassy or consulate 
        .box
          %h3
            %span.mailbox-icon
            %span.txt Obtain ...
          %p
            Italia Startup Visa

  #processa2.slide
    .container
      %h2
        STEP 3
        %span through Certified Incubator
      .line
      %h2
        No more than 8 days after your arrival in Italy…
      .spacer
        .box
          %h3
            %span.docs-icon
            %span.txt You need ...
          %ul
            %li
              Application for residence permit’s documents available at post office, 4 photographs


        .box
          %h3
            %span.paperplane-icon
            %span.txt Send to ...
          %p
            Local police headquarters (documents to be provided in person)
        .box
          %h3
            %span.mailbox-icon
            %span.txt Obtain ...
          %p
            1 year residence permit
  #processa3.slide
    .container
      %h2
        STEP 4
        %span through Certified Incubator
      .line
      %h2
        After one year, to renew your residence permit…
      .spacer
        .box
          %h3
            %span.docs-icon
            %span.txt You need ...
          %ul
            %li
              Certificate of incorporation, articles of association and file search report of your innovative startup
            %li  
              Evidence of adequate annual income


        .box
          %h3
            %span.paperplane-icon
            %span.txt Send to ...
          %p
            Local police headquarters (documents to be provided in person)
        .box
          %h3
            %span.mailbox-icon
            %span.txt Obtain ...
          %p
            2 year residence permit (startup backed by incubator)
      .button
        %a.summary{href:"/pdf/summary_of_the_application_process.pdf",target:"_blank"}
          Summary of the application process in PDF