---
title: "main page"
metas: "main"
---
#contacts
  .container
    .left
      .content
        %h1
          CREDITS
      .content
        %h2
          VISUAL DESIGN & WEB DEVELOPMENT
        .line
        %p
          <a href="http://www.belafonte.co">Belafonte</a>, creative digital experience
      .content
        %h2
          PHOTOS
        .line
        %p
          Costiera Amalfitana by Daniel Ventura <a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a>
        %p
          The Leaning Tree of Pisa by Neil Howard <a href="https://creativecommons.org/licenses/by-nc/2.0/legalcode">CC</a>
        %p
          Comfortable corner by Stefano Corso <a href="https://creativecommons.org/licenses/by-nc/2.0/legalcode">CC</a>
        %p
          Pietravairano by CpaKmoi <a href="https://creativecommons.org/licenses/by-nc/2.0/legalcode">CC</a>
        %p
          A Tuscany delight by Edgar Barany C <a href="https://creativecommons.org/licenses/by-nc/2.0/legalcode">CC</a>
        %p
          Dolomiti - Alpe di Siusi by Luigi Alesi <a href="https://creativecommons.org/licenses/by-nc/2.0/legalcode">CC</a>
      .content
        %h2
          ICONS
        .line
        %p
          Suitcase by Shelby Blair from The Noun Project
        %p
          Map Marker by Venkatesh Aiyulu from The Noun Project
        %p
          Check Mark by Mateo Zlatar from The Noun Project
        %p
          Coliseum by Kenneth Appiah from The Noun Project
        %p
          Arrow by Jardson A. from The Noun Project
        %p
          Document by Chris Robinson from The Noun Project
        %p
          Plant by Gemma Garner from The Noun Project
        %p
          Egg by irene hoffman from The Noun Project
        %p
          Map by Paul Stevens from The Noun Project
        %p
          Factory by Asier Bilbo from The Noun Project