---
title: "main page"
metas: "main"
---
#contacts
  .container
    .left
      .content
        %h1
          FAQ
      #accordion
        .content
          .question
            %h2
              1. WHO CAN APPLY?
            .line
          .text
            %p
              Any extra-EU citizen who has a good business idea, whatever age, sex or background.
        .content
          .question
            %h2
              2. WHAT DO I NEED TO APPLY?
            .line
          .text
            %p
              A business model, a computer with an internet connection (even ISDN will do) and a 50,000 euros in financial resources for your innovative startup.
        .content
          .question
            %h2
              3. WHEN CAN I APPLY?
            .line
          .text
            %p
              Any time, applications are open!

        .content
          .question
            %h2
              4. DO I NEED TO BE IN ITALY TO APPLY?
            .line
          .text
            %p
              Nope.

        .content
          .question
            %h2
              5. WHO SELECTS WHO WILL GET IN?
            .line
          .text
            %p
              A Technical Committee set up by the Italian Ministry of Economic Development, composed of representatives of recognised national associations who have close links, each for their own area of expertise, with the startup ecosystem. The 5 involved associations are:

            %ul
              %li
                The Private Equity and Venture Capital Association (AIFI);
              %li
                the Association of Italian Science and Technology Parks (APSTI);
              %li
                the Italian Business Angels Network Association (IBAN);
              %li
                the Network for the Exploitation of University Research (NETVAL);

              %li
                the Association of Incubators and Italian Academic Business Plan Competitions (PNICube);
        .content
          .question
            %h2
              6. HOW DOES THE SELECTION WORK?
            .line
          .text
            %p
              The Committee checks if the submitted business model potentially meets the requirements of an innovative startup (i.e. focus on technological innovation, R&D and/or intellectual property) as defined by Article  25 of Law 221/2012 and if the candidate has the required financial resources.

        .content
          .question
            %h2
              7. WHAT QUALIFIES AS AN INNOVATIVE STARTUP?
            .line
          .text
            %p 
              We refer specifically and explicitly to innovative startups to underscore that our target is not any and all new enterprises, but those whose business is closely linked to innovation and technology. The future company will have to qualify as an innovative startup as defined by Decree 179/2012, that is: it will have to be incorporated as a limited company or a cooperative under Italian law, or a European Company under EU law, domiciled in Italy. The innovative startup status lasts for the first 4 years, as long as: it does not list on a regulated market or multilateral trading system; its annual sales do not exceed 5 million euros; it does not distribute dividends. Moreover, to enjoy the status of an innovative startup your company will have to:
            %ul
              %li
                have its head office in Italy;

              %li
                be engaged solely or primarily in technological innovation;
              %li
                not have been created from a corporate merger or division or following the divestment of a company or line of business;

              %li
                meet <i>at least one</i> of the following additional criteria:
                %ol
                  %li
                    devote at least 15% of its expenditure to Research and Development (R&D);
                  %li
                    have at least one third of its team composed of PhD students or graduates, or of personnel who have been working in research for at least 3 years; alternatively, at least two thirds should hold a master’s degree;
                  %li
                    be the owner, filer or licensee of a patent, industrial property right, or original software registered with the Società Italiana degli Autori ed Editori (Italian Society of Authors and Publishers – SIAE).
            %p
              No restrictions are applied with respect to the entrepreneur’s age, the startup’s sector of business, or the region of Italy where it will be located.

        .content
          .question
            %h2
              8. HOW DOES THE APPLICATION PROCESS WORK?

            .line
          .text
            %p Check out the <a href="/pdf/summary_of_the_application_process.pdf" target:"_blank">summary of the application process.</a>.
        .content
          .question
            %h2
              9. HOW LONG DOES IT TAKE TO GET THE VISA?
            .line
          .text
            %p 
              Starting from the date of submission of the complete documentation, the process takes no longer than 30 days. 
        .content
          .question
            %h2
              10. WHY SHOULD I CHOOSE ITALY?
            .line
          .text
            %p Check out the <a href="/#10reasons-section">10 reasons</a> why Italy is THE country where you should set up your startup! Yet not enough? Then click <a href="http://www.mise.gov.it/images/stories/documenti/Executive-Summary-of-Italy's-new-policy-on-start-ups.pdf">here</a> to find out more about Italy’s groundbreaking Startup Law and the outstanding tools innovative startups can benefit from!
        .content
          .question
            %h2 
              11. WHAT BENEFITS CAN ITALIAN STARTUPS POLICY GIVE MY INNOVATIVE STARTUP?
            .line
          .text
            %p 
              Italy’s Startup Law has set up a vast range of tools to help entrepreneurs establish their own innovative business, including:
            %ul
              %li 
                Cuts in red tape: innovative startups can be registered for free. No fees are due for the fulfillment of bureaucratic procedures, i.e. filing of annual financial report.

              %li 
                flexible labour law applicable to the whole startup's life cycle: 
                %ul
                  %li
                    fixed-term contracts for 4 years,
                  %li
                    variable pay depending on the company's performance
                  %li
                    workers and consultants can be remunerated with stock options


              %li tax credit by 35% for hiring highly qualified personnel,
              %li robust tax relief (19-27%) on investments fueling startups,

              %li possibility for innovative startups to raise money through equity crowdfunding portals (1st tailored regulations in the world),

              %li free, fast-track public guarantee on bank loans covering 80% of the sum,
              %li tailored support by the Italian Trade Agency (ICE) in case innovative startups want to go international;

              %li fail-fast mechanism in order to help entrepreneurs move on quickly to the next startup in case things go wrong.
        .content
          .question
            %h2 
              12. WHAT ARE CERTIFIED INCUBATORS?
            .line
          .text
            %p 
              Certified incubators are companies that host startups and support business ideas deemed to offer the potential for a high economic return, but which are not yet ready to receive large-scale funding. To obtain certification, these structures must meet certain requirements (defined by the Ministerial Decree of 22 February 2013) like having adequate buildings and equipment, and a technical and management structure of recognized competence. They must also be engaged in collaborative relationships with universities, research centers, public institutions and financial partners. Importantly, certified incubators must also have proven experience in supporting innovative startups.
        .content
          .question
            %h2 
              13. WHAT BENEFITS CAN THEY GIVE?
            .line
          .text
            %p 
              Certified incubators provide innovative startups with technical, legal and management support, as well as equipment and a physical space where the companies can develop their business. In addition, certified incubators can offer a high value network composed of universities, research centers, public institutions and financial partners.
        .content  
          .question
            %h2 
              14. HOW CAN I GET IN TOUCH WITH THEM?
            .line
          .text
            %p 
              It is possible to find a <a href="http://startup.registroimprese.it/report/listaIncubatori.pdf" target="_blank">list of the certified incubators</a>, with the relative contacts, at the website of the dedicated section of the Business Register.






   




