---
title: "main page"
metas: "main"
---
#filingcabinet.section
  .container
    .content
      .box
        %h2
          APPLICATION DOCUMENTS FOR ITALIA STARTUP VISA (ISV):
        .line
        %a{href:"/pdf/Application form for ISV.doc"}
          .icon
          %p.subtitle
            Application form for ISV

        %a{href:"/pdf/Cover letter.doc"}
          .icon
          %p.subtitle
            Cover letter for proof of financial resources

        %a{href:"/pdf/Undertaking by incubator.doc"}
          .icon
          %p.subtitle
            Undertaking by incubator to host startup
        %a{href:"/pdf/Facsimile Certificate.pdf"}
          .icon
          %p.subtitle
            Facsimile certificate of no impediment for ISV

        %a{href:"/pdf/Facsimile Certificate Incubator.pdf"}
          .icon
          %p.subtitle
            Facsimile certificate of no impediment for ISV (startup backed by incubator) 

      .box
        %h2
          INTRODUCTION TO ITALIA STARTUP VISA AND ITALY’S INNOVATIVE STARTUP POLICY:

        .line
        %a{href:"/pdf/linee_guida_ISV.pdf",target:"_blank"}
          .icon
          %p.subtitle
            Guidelines to the Italia Startup Visa Programme
        %a{href:"/pdf/summary_of_the_application_process.pdf",target:"_blank"}
          .icon
          %p.subtitle
            Summary of the application process

        %a{href:"http://www.mise.gov.it/images/stories/documenti/Executive-Summary-of-Italy's-new-policy-on-start-ups.pdf",target:"_blank"}
          .icon
          %p.subtitle
            Summary of Italy’s innovative startup policy
        %a{href:"#"}
          .icon
          %p.subtitle
            Annual Report to the Italian Parliament on progress made under the startup policy

        %a{href:"http://startup.registroimprese.it/report/startup.pdf",target:"_blank"}
          .icon
          %p.subtitle
            Dedicated section of the business register for innovative startups

        %a{href:"http://startup.registroimprese.it/report/listaIncubatori.pdf",target:"_blank"}
          .icon
          %p.subtitle
            Dedicated section of the business register for certified incubators
         
     